/*button styling*/
._travel_helper__button {
    height: 40px;
    width: 50px;
    border-radius: 6px;
    border: 1px solid white;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    background: white;
    cursor: pointer;
    position: fixed;
    font-family: serif;
    color: #383636;
    top: 75px;
    right: 35px;
    text-align: center;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}
._travel_helper_close__button {
    height: 40px;
    width: 25px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px solid rgb(228, 228, 228);
    border-left: 1px solid black;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-top: 1px solid rgb(228, 228, 228);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    background: rgb(228, 228, 228);
    cursor: pointer;
    position: fixed;
    font-family: serif;
    color: #383636;
    top: 75px;
    right: 15px;
    text-align: center;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

._google_flight__container {
    height: auto;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    background: white;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 9999999999;
    overflow: hidden;
    overflow-y: auto;
    cursor: default;
}

._submit-overlay {
    position: fixed;
    width: 220px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -120px;
    background: white;
    border: 2px solid;
    z-index: 9999999999999;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

._google_flight__container h1 {
    font-family: serif;
    font-size: 18px;
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}
._google_flight__container p {
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    color: #868585;
    margin-top: 4px;
}
._google_flight__container ul {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
}
._google_flight__container ul li {
    padding: 2px 9px;
    text-transform: uppercase;
}

._google_flight__container li input {
    cursor: pointer;
}
._google_flight__container li span {
    margin-left: 5px;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

._google_flight__container .code {
    background: #ff8d00;
    color: #fff;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    cursor: pointer;
}

.flight-compare-button {
    padding: 5px 0px;
    font-size: 11px;
    text-align: center;
    background: black;
    width: 50%;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
}

.flightErrorContainer {
    border: 1px solid rgb(196, 24, 41);
    border-radius: 3px;
    margin: 10px auto;
    padding: 3px 5px;
    background-color: #ffbaba;
}

.flightErrorContainer p {
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    color: #d8000c;
}
